* {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 9px 14px -7px #888888;
    margin-bottom: 10px;
}

.to-do-list {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: 0px 2px 16px 1px #888888;
    width: 500px;
}

.child p {
    padding-bottom: 15px;
    margin: 0;
    padding: 0;
}

.list:last-child {
    border: none;
}

.list {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #cecece;
}

.form_block {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 20px;
}

.form_block input {
    height: 36px;
    border: 1px solid #cecece;
    width: 70%;
    padding-left: 8px;
    border-radius: 6px;
}

.form_block button {
    height: 36px;
    border: 1px solid #cecece;
    width: 20%;
    background: transparent;
    padding: 2px;
    color: black;
    border-radius: 6px;
}

.close {
    cursor: pointer;
}